<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.UV.rokonalzorobyan.UV">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomFontApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FoodListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:focusable="true"
            android:focusableInTouchMode="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:focusableInTouchMode="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter android:label="rokon-alzorobyan">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="http://rokon-alzorobyan.com.sa"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data
                    android:host="gizmos"
                    android:scheme="example" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreviosOrders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CurrentOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactUs"
            android:focusableInTouchMode="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FoodDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".branshs"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDVFljB7TQRUDLz1hS9sFnXGjzeD-GbkzU" />

        <activity
            android:name=".Receit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity android:name=".ExceptionDisplay"></activity>
        <activity
            android:name=".MapActivity"
            >
        </activity>
    </application>

</manifest>